
  <div class="card ">
    <div class="card-header text-white bg-dark">
      Ingresa todos los datos
    </div>
    <div class="card-body ">
      <h5 class="card-title">Creación persona</h5>
      <form  [formGroup]="formGroup">
        <div class="form-group row">
          <label for="fullName" class="col-sm-2 col-form-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text"  class="form-control" id="fullName" placeholder="Ingresa tu nombre completo " formControlName="fullname"  required>
          </div>
        </div>
        <div class="form-group row">
          <label for="birth" class="col-sm-2 col-form-label">Cumpleaños</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="birth" formControlName="birth" required>
          </div>

        </div>
        <div class="form-group row">
            <label for="adopter" class="col-sm-2 col-form-label">Eres:</label>
            <div class="col-sm-10">
              <select  class="form-control" formControlName="typePerson" required>
                  <option value="padre">Padre</option>
                  <option value="disponible">Estas en busca de una familia</option>
              </select>
            </div>
          </div>
          <button type="submit" (click)="crearPersona()" [disabled]="formGroup.invalid" class="btn btn-info btn-lg btn-block">Registrar</button>
      </form>
    </div>
  </div>